tabs {

  .tabs-md .tabbar {
    background-color: #34ace0;
  }

  .tabs-md .tab-button-text {
    color: #ffffff
  }

  .tabs-md .tab-button[aria-selected=true] .tab-button-icon {
    color: #B33771 ;
  }

  .tabs-md .tab-button[aria-selected=true] .tab-button-text{
    color:  #B33771 ;
  }
}
